<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Service Tracker</title>
    {{!-- Simple Grid CSS: https://thisisdallas.github.io/Simple-Grid/ --}}
    <link rel="stylesheet" href="/stylesheets/simplegrid.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    {{!-- Container for the simple grid divs --}}
    <div class="grid">
        <div class="landing-page-left col-6-12">
            {{!-- Empty--background image applied in styles.css --}}
        </div>
        <div class="landing-page-intro col-6-12">
            <div class="content">
                    {{{ body }}}     
            </div>
        </div>
    </div>
    
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>