<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Stream</title>
    {{!-- Simple Grid CSS: https://thisisdallas.github.io/Simple-Grid/ --}}
    <link rel="stylesheet" href="/stylesheets/simplegrid.css">
    {{!-- Font Styles from Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,900;1,100&family=Sacramento&display=swap" rel="stylesheet">
    {{!-- Bootstrap fonts for our icons --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header class="main-layout">
        <h1>
            Track Stream
        </h1>
        <nav>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/faq">FAQ</a></li>
                {{#if loggedIn}}
                <li><button id="logout" class="no-styles">Logout</button></li>
                {{/if}}
            </ul>
        </nav>
</header>
<section>
    {{{ body }}}
</section>
    
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>