<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Service Tracker</title>
    {{!-- Simple Grid CSS: https://simplegrid.io/ --}}
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<header>
    <h1>
        Streaming Service Tracker
    </h1>
</header>
<body>
    {{{ body }}}
</body>
</html>