<form class="edit-service" id="add-service-form">
    <h2>
        Add Service
    </h2>
    <br>
    <div>
        <label for="service-name">Service Name</label>
        <br>
        <input type="text" id="service-name" placeholder="Service Name.."/>
    </div>
    <div>
        <label for="service-cost">Cost</label>
        <br>
        <input type="text" id="service-cost" placeholder="Cost.."/>
    </div>
    <div>
        <p>How often does this subscription get renewed?</p>
        <select id="service-recurrence">
            <option value="none" selected disabled hidden>Select an option</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select>
    </div>
    <div>
        <button type="submit"id="create-service">Submit</button>
    </div>
</form>

<script src="/javascript/create-service.js"></script>