<form class="new-service">
    <div>
        <label for="service-name">Service Name</label>
        <input type="text" id="service-name" />
    </div>
    <div>
        <label for="service-cost">Cost</label>
        <input type="text" id="service-cost" />
    </div>
    <div>
        <label for="service-recurrence">How often does this subscription get renewed?</label>
        <input list="recurrence" id="service-recurrence" />
        <datalist id="recurrence">
            <option value="monthly">
            <option value="yearly">
        </datalist>
    </div>
    <div>
        <label for="service-renewal-date">Auto Renewal Date</label>
        <input type="text" id="service-renewal-date" />
    </div>
    <div>
        <label for="service-active">Is this service active?</label>
        <input list="active" id="service-active" />
        <datalist id="active">
            <option value="yes">
            <option value="no">
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
</form>

<script src="/javascript/create-service.js"></script>