<div>
    <div class="col-7-12 services">
        <div class="services-header">
            <h2>
                Streaming Services
            </h2>
            <span class="add-service">
                <a href="/dashboard/create-service">
                    <i class="bi bi-plus-circle-fill"></i> add a new service

                </a>
            </span>
        </div>
        

        <div class="second-Dash-div">
            <ul>
                {{#each services as |subscription|}}
                <li>
                    <div class="single-service">
                        <div>
                            <div>
                                <h4>
                                    {{subscription.service.name}}
                                </h4>
                                
                            </div>
                            <div class="service-info">
                                <div>
                                Cost: {{subscription.service.cost}}
                            </div>
                            <div>
                                Renews on: {{subscription.auto_renewal_date}}
                            </div>
                            </div>
                        </div>
                        <div>
                            <a href="/dashboard/edit-service/{{subscription.service_id}}">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="right-div col-5-12">
        <h2>Summary</h2>
        <div>
            Summary of monthly costs and # of active subscriptions will go here
        </div>
    </div>    
</div>

{{!--  this should be part of the navigation defined in main.handlebars. adding it here for testing purposes --}}
<button id="logout">LOGOUT</button>