
<section class="edit-service">
    <h2>Frequently Asked Questions</h2>
    <div>
        <div class="FAQ">
            <h4>Why should you use this app?</h4> <p>With the way streaming services and new shows keep popping up, you'll eventually lose track of how much you're spending. Having a visual reminder of exactly how much you spend will be a great way of cutting down on costs!</p>
        </div>
        <div class="FAQ">
            <h4>Can I expect more in the future?</h4> <p>Yes actually!!! We've been hard at work at future development ideas. You can expect for us to implement a search function for new or existing shows. We're also thinking of adding a notification system that alert you when your show is over or whenever your monthly bill gets too high! </p>
        </div>
    </div>
    
</section>