
<section class="edit-service">
    <h2>Frequently Asked Questions</h2>
    <div>
        <div class="FAQ">
            <h4>How do I add a subscription?</h4>
            <p>Complete the following steps to add a subscription:</p>
            <ol>
                <li>From the dashboard, click <b>add a new subscription</b>. This will take you to the Services page.</li>
                <li>Click <b>add subscription</b> on the service to which you would like to add a subscription. If the service doesn't exist, click <b>add a new streaming service</b> and follow the prompts.</li>
                <li>On the add subscription page, specify whether the subscription is active.</li>
                <li>If active, specify the date the subscription will auto renew and then click the <b>add subscription</b> button.</li>
            </ol>
            <p>Your dashboard view will now display that subscription. Enjoy!</p>
            <hr>
        </div>
        <div class="FAQ">
            <h4>Why should you use this app?</h4> <p>With the way streaming services and new shows keep popping up, you'll eventually lose track of how much you're spending. Having a visual reminder of exactly how much you spend will be a great way of cutting down on costs!</p>
        <hr>
        </div>
        <div class="FAQ">
            <h4>Can I expect more in the future?</h4> <p>Yes actually!!! We've been hard at work at future development ideas. You can expect for us to implement a search function for new or existing shows. We're also thinking of adding a notification system that alert you when your show is over or whenever your monthly bill gets too high! </p>

        </div>
    </div>
    
</section>