
<section class="edit-service">
    <h2>Frequently Asked Questions</h2>
    <div>
        <div class="FAQ">
            <h4>Question 1 will go here!</h4> <p>Answer for question will go here. This is honestly kind of just gibberish until we have something to ask.</p>
        </div>
        <div class="FAQ">
            <h4>Question 2 will go here!</h4> <p>Should we have a contact page? Or is that too much. I'm in favor of just getting it done so if we dont need one thats cool with me</p>
        </div>
    </div>
    
</section>