<main class="landing-content">
    <h1>Track Stream</h1>
    <div class="landing-text">
        <p>All of our creativity went into the name on this one.</p>
        <p>Do you have trouble keeping track of the numerous streaming services that you are subscribed to each month? Are you even using them, or are you just throwinng money away? 
                    We're not great marketers, but we are here to help you save money by providing an easy-to-use interface to track your current subscriptions, 
                    remind you when they're about to renew so you can cancel, and even track upcoming shows that might warrant a new subcription.</p>
        <p>Sound like something you might need?</p>
        <p class="cta-link">
                <a href="/signup">Sign up <i class="bi bi-arrow-right-short"></i></a>
        </p>
        <hr>
        <p>
            Already have an account? <a href="/login">Log in</a>.
        </p> 
    </div>
    
</main>
