<main class="landing-content">
    <h1>Login</h1>
    <div class="landing-text tm-15px">
        <form class="edit-form" id="login-form" action="" method="POST">
        <div>
            <label for="userName">Email: </label>
            <br>
            <input type="email" name="userName" id="email" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password" id="password" required>
        </div>
        {{#if error}}
        <span style="color:red">{{error}}</span>
        {{/if}}
        <div>
            <input type="submit" value="Login"  class="button-submit">
        </div>
    </form>
    <hr class="tm-15px">
    <div>
        New here? <a href="/signup">Sign up for an account</a>. 
    </div>
    </div>
    

</main>
<script src="/javascript/login.js"></script>