<style>
    .form-signin {
        max-width: 330px;
        padding: 15px;
    }
</style>
<main class="form-signin w-100 m-auto">

    <form action="" method="POST" class="form-example">
        <div class="form-example">
            <label for="userName">Email: </label>
            <input type="email" name="userName" id="email" required>
        </div>
        <div class="form-example">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </div>
        {{#if error}}
        <span style="color:red">{{error}}</span>
        {{/if}}
        <div class="form-example">
            <input type="submit" value="Login">
        </div>
    </form>

</main>