<section>
    {{!-- Display info about each streaming service --}}
    <ol>
        {{#each services as |service| }}
        <li>
            <div>
                Name: {{service.name}}
            </div>
            <div>
                Cost: {{service.cost}}
            </div>
            <div><a href="/dashboard/add-subscription?{{service.id}}">Add subscription</a></div>
        {{/each}}
    </ol>
</section>