/* General styles */

* {
    margin: 0;
}

/* Required for the landing page layout */
html, body {
    height: 100%;
}

body {
    font-family: 'Albert Sans', sans-serif;
}

/* FONTS */
/* Global font */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,900;1,100&display=swap');

/* DASHBOARD STYLES */

.main-layout{
    background-color: black;
    color: white;
    padding: 25px;
    overflow: hidden;

}

.main-layout h1{
    display: flex;
    justify-content: flex-start;
}

.main-layout h2{
    display: flex;
    justify-content: flex-end;
}


.services-header{
    outline: solid black;
    padding-bottom: 25px;
    padding-top: 5px;
}

.second-Dash-div{
    outline: solid black;
    padding-bottom: 25px;
    padding-top: 5px;
}

.right-div{
    outline: solid black;
    padding-bottom: 25px;
    padding-top: 5px;
    margin-top: 25px;
}

/* just here until we figure out where we want it */
#logout{
    display: flex;
}

/* TODO: update once we have a more defined global style */
.single-service {
    display: flex;
    justify-content: space-between;
    background-color: lightseagreen;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.services {
    margin-top: 25px;
}

.services ul {
    list-style-type: none;
    margin: 0;
}

.services-header {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.services h4 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.service-title {
    font-size:120%;
    font-weight: 300;
}

.service-info {
    display: flex;
    justify-content: space-around;
}

.service-info div{
    margin-right: 10px;
}

.services i {
    margin-top: 7px;
    margin-right: 7px;
}


/* SERVICES styles */

/* don't delete this one */
.toggle-visibility {
    display: none;
}

/* Nav styles that can be deleted */
.no-styles {
    background: none;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 100%;
    margin-left: 10px;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav {
    background-color: seagreen;
    padding: 20px;
}

/* LANDING PAGE STYLES */
/* Don't change */
.landing-page-left {
    background-image: url("/images/loewe-unsplash-med.jpg");
    background-size: cover;
    background-color: seagreen;
    height: 100%;
}

.landing-page-intro {
    padding-top: 10%;
    background-color: whitesmoke;
    height: 100%;
}

.landing-page-intro p {
    padding: 10px;
}

.content {
    margin-left: 20px;
}


/* Modifications to Simple Grid styles */
.grid {
    /* Force grid to take up full wdith and height of browser */
    height: 100%;
    max-width: 100%;
}

/* don't chage */
@media screen and (max-width: 850px) {
    .landing-page-left {
        display: none;
    }
}