/* color palette variables */
:root {
    --primary: #0a2f35;
    --active: #12492f;
    --body-links: #f7a325;
    --header: #ffca7a;
    --highlight: #f56038;
}

/* General styles */

* {
    margin: 0;
}

/* UTILITY styles */
.tm-15px {
    margin-top: 15px;
}

.toggle-visibility {
    display: none;
}

/* Required for the landing page layout */
html, body {
    height: 100%;
}

body {
    font-family: 'Albert Sans', sans-serif;
    color: var(--primary)
}

/* DASHBOARD STYLES */
a {
    text-decoration: none;
    color: var(--highlight);
}

a:visited {
    color: var(--highlight);
}

a:hover {
    color: var(--active);
    text-decoration: underline;
}

.main-layout{
    background-color: var(--primary);
    color: var(--header);
    padding: 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

}

.main-layout h1{
    display: flex;
    justify-content: flex-start;
    color: var(--header);
}

/* .main-layout h2{
    display: flex;
    justify-content: flex-end;
} */

.monthly-cost, .number-subs {
    font-family: 'Sacramento', cursive;
    font-size: 55px;
}

.monthly-cost {
    display: block;
}

.number-subs {
    font-size: 24px;
}

.your-stats {
    margin-top: 48px;
    padding: 20px;
    background-color: var(--primary);
    border: 1px solid var(--header);
    color: var(--header);
    text-align: right;
    border-radius: 5px;
    margin-right: 40px;
    /* float: right; */
}

.stats-header {
    display: none;
}


.services-header {
    padding-bottom: 10px;
    padding-top: 5px;
}

.shows-header {
    padding-bottom: 15px;
}

.second-Dash-div{
    padding-bottom: 25px;
    padding-top: 5px;
    /* margin-top: 5px; */
    margin-left: 40px;
}

.right-div{
    padding-bottom: 25px;
    padding-top: 5px;
    margin-top: 25px;
    padding-left: 10px;
}

.single-service, .single-show {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 40px;
    margin-bottom: 15px;
}

.single-show span {
    padding: 5px;
}

.single-service a {
    color: var(--header);
}

.single-service a:hover {
    color: var(--highlight);
}

.single-service a:visited {
    color: var(--header)
}

.services {
    margin-top: 25px;
}

.services ul, .shows ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
}

.services-header {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.services h4 {
    margin-top: 7px;
    margin-bottom: 7px;
}

.service-title {
    font-size:120%;
    font-weight: 300;
}

.service-info {
    display: flex;
    justify-content: space-around;
}

.service-info div{
    margin-right: 10px;
}

.services i {
    margin-top: 7px;
    margin-right: 7px;
}

.right{
    margin: 10px 0px 0px 40px;
}

.active-subscription {
    background-color: var(--active);
    color: var(--header);
}

.inactive-subscription {
    background-color: lightgrey;
}

/* SERVICES styles */


/* FAQ */
.FAQ{
    margin: 15px 0;
}

.FAQ h4 {
    margin-bottom: 5px;
    font-family: 'Sacramento', cursive;
    font-size: 36px;
    margin-top: 25px;
}

.FAQ p {
    margin: 10px 0;
}


.FAQ hr {
    width: 25%;
    /* margin: 0 auto; */
    border-style:dotted; 


}


/* EDIT services */
input [type=text], select{
    width: 100px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



#service-name{
    width: 200px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#service-cost{
    width: 200px;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* changed this to just be for all pages in the home pages, just to stay consistent with how much margin we have */
.edit-service{
    
    margin:5px 25px;

}

#delete-service {
    background-color: var(--highlight);
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
}


.button-submit {
    background-color:var(--primary); 
    color: white; 
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 4px;
}

/* HEADER STYLES */
header h1 {
    font-family: 'Sacramento', cursive;
    font-size: 72px;
    margin-right: 0;
    color: var(--primary)
}


/* NAV STYLES*/
.no-styles {
    background: none;
    color: var(--header);
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 24px;
    margin-left: 0px;
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;
}

.no-styles:hover{
    background-color: var(--header);
    color: var(--primary)
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav {

    padding: 40px;
    margin-left: 0;
}

nav ul li a{
    color: var(--header);
    text-decoration: none;
    font-size: 24px;
    padding: 5px;
}

nav ul li a:visited {
    color: var(--header);
}

nav ul li a:hover {
    background-color: var(--header);
    color: var(--primary);
    text-decoration: none;
}
/* LANDING PAGE STYLES */

.landing-content h1 {
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

.landing-text {
    margin-left: 15px;
}

.landing-page-left {
    background-image: url("/images/loewe-unsplash-med.jpg");
    background-size: cover;
    background-color: var(--header);
    height: 100%;
}

.landing-page-intro {
    padding-top: 10%;
    background-color: whitesmoke;
    height: 100%;
}

.landing-page-intro p {
    padding: 10px;
}

.content {
    margin-left: 20px;
}

.landing-content hr {
    margin-bottom: 25px;
}

/* Landing page call-to-action styles */
.cta-link {
    font-family: 'Sacramento', cursive;
    font-size: 48px;
    margin-left: 24px;
}

.cta-link a:hover {
    text-decoration: none;
}

.cta-link i {
    font-size: 40px;
}

/*Signup page and login page  */

#email{
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#password{
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#confirmPassword{
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#firstName{
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#lastName{
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}





/* Modifications to Simple Grid styles */
.grid {
    /* Force grid to take up full wdith and height of browser */
    height: 100%;
    max-width: 100%;
}

/* MEDIA QUERIES */
/* Make the header fonts a bit smaller at this size */
@media screen and (max-width: 1036px) {
    nav {
        padding: 20px;
    }

    header h1 {
        font-size: 60px;
    }
}

/* Switch to column view in the header at this point so we don't have text breaking to a new line */
@media screen and (max-width: 936px) {
    .main-layout {
        flex-direction: column;
        justify-content:space-around;
    }
    header h1 {
        margin: 0 auto;
    }

    nav {
        margin: 0 auto;
    }
}

@media screen and (max-width: 850px) {
    .landing-page-left {
        display: none;
    }
    .your-stats {
        float: none;
    }
}


@media screen and (max-width: 767px) {
    .your-stats {
        margin-left: 40px;
        margin-top: 15px;
    }

    .shows {
        margin-left: 40px;
    }

    .stats-header {
        display: inline;
    }

    .stats-header, .shows-header {
        margin-left: 40px;
    }
}